.productFormContainer {
  max-width: 700px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.productFormContainer h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.productFormItem {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit {
  display: block;
  height: 40px;
  width: 100%;
  padding: 10px;
  background-color: #1890ff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.submit:hover {
  background-color: #40a9ff;
}
